@model MovieRental.Models.Movie

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Movie</legend>
    <table style="align-items:center">
        <tr>
    <td class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </td>
    <td class="display-field">
        @Html.DisplayFor(model => model.Title)
    </td>
            </tr><tr>
    <td class="display-label">
         @Html.DisplayNameFor(model => model.ReleaseYear)
    </td>
    <td class="display-field">
        @Html.DisplayFor(model => model.ReleaseYear)
    </td></tr>

    <tr><td class="display-label">
         @Html.DisplayNameFor(model => model.FilmRating)
    </td>
    <td class="display-field">
        @Html.DisplayFor(model => model.FilmRating)
    </td></tr>

    <tr><td class="display-label">
         @Html.DisplayNameFor(model => model.Language)
    </td>
    <td class="display-field">
        @Html.DisplayFor(model => model.Language)
    </td></tr>

    <tr><td class="display-label">
         @Html.DisplayNameFor(model => model.Poster)
    </td>
    <td class="display-field">
        @*@Html.DisplayFor(model => model.Poster)*@
        <img src="@(Model.Poster)" height="200" width="150"/>
    </td></tr>

    <tr><td class="display-label">
         @Html.DisplayNameFor(model => model.Plot)
    </td>
    <td class="display-field">
        @Html.DisplayFor(model => model.Plot)
    </td></tr>

    <tr><td class="display-label">
         @Html.DisplayNameFor(model => model.NoInStock)
    </td>
    <td class="display-field">
        @Html.DisplayFor(model => model.NoInStock)
    </td></tr>

    <tr><td class="display-label">
         @Html.DisplayNameFor(model => model.RentalRate)
    </td>
    <td class="display-field">
        @Html.DisplayFor(model => model.RentalRate)
    </td></tr>

    <tr><td class="display-label">
         @Html.DisplayNameFor(model => model.ImdbRating)
    </td>
    <td class="display-field">
        @Html.DisplayFor(model => model.ImdbRating)
    </td></tr>

    </table>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.MovieId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
